<h1>All Work Cards</h1>
<button routerLink="/add-work-card">+ Work card</button>
<div>
    <h1 *ngIf="!allWorkCards"><img src="/assets/images/gifLoading.txt"></h1>
    <table *ngIf="allWorkCards" class="table table-dark">
        <tr>
            <th>id</th>
            <th>plate number</th>
            <th>parts</th>
        </tr>
        <tr *ngFor="let w of allWorkCards">
            <td>{{w.id}}</td>
            <td>{{w.plateNumber}}</td>
            <td><a routerLink="/work-card-parts-advisor/{{w.id}}">show</a></td>
        </tr>
    </table>
</div>